@layer base {
    :root {
        /* Palette Colors */
        /* Primary  */
        --color-primary-50: #F0F2F7;
        --color-primary-100: #E0E4EF;
        --color-primary-200: #B7BED4;
        --color-primary-300: #9BA4BE;
        --color-primary-400: #8E99B9;
        --color-primary-500: #3C4D82;
        --color-primary-600: #2F4176;
        --color-primary-700: #233469;
        --color-primary-800: #16285D;
        --color-primary-900: #091B50;
        --color-primary-gradient: #091B50;
        --color-primary-950: #0A1D37;

        /* secondary  */
        --color-secondary-50: #FDF9F0;
        --color-secondary-100: #FAF3E0;
        --color-secondary-200: #F1E5C2;
        --color-secondary-300: #EBDAAE;
        --color-secondary-400: #E0C87B;
        --color-secondary-500: #CFAC48;
        --color-secondary-600: #C9A53F;
        --color-secondary-700: #C49F35;
        --color-secondary-800: #BE982C;
        --color-secondary-900: #B89122;
        --color-secondary-gradient: #574205;
        --color-secondary-950: #574205;

        /* accent */
        --color-accent-50: #FFFBE8;
        --color-accent-100: #F7F3E3;
        --color-accent-200: #FBF9F1;
        --color-accent-300: #FDDB7B;
        --color-accent-400: #FCCD4F;
        --color-accent-500: #FCD34D;
        --color-accent-600: #FCCE43;
        --color-accent-700: #FCC939;
        --color-accent-800: #FBC42E;
        --color-accent-900: #FBBF24;
        --color-accent-950: #886407;

        /* neutrals */
        --color-neutral-50: #FFFFFF;
        --color-neutral-100: #909090;
        --color-neutral-200: #7E8185;
        --color-neutral-300: #6D7279;
        --color-neutral-400: #5C636E;
        --color-neutral-500: #4B5563;
        --color-neutral-600: #3B4658;
        --color-neutral-700: #2B384D;
        --color-neutral-800: #1B2A42;
        --color-neutral-900: #0A1D37;
        --color-neutral-950: #000000;

        /* Feedback Colors */
        /* colors info */
        --color-info-100: #d7f1fd;
        --color-info-900: #1d70c7;
        /* colors success */
        --color-success-100: #edfbd8;
        --color-success-900: #22C55E;
        /* colors warning */
        --color-warning-100: #FEF7D1;
        --color-warning-900: #F3B51E;
        /* colors error */
        --color-error-100: #FCE8DB;
        --color-error-900: #dc2626;
    }

}
