/// Set global styles across the application

html:root,
[data-theme] {
    background-color: #efefef;
}

@font-face {
    font-family: "AlfaSlabOne";
    font-weight: 400;
    src: url("./../../../assets/fonts/AlfaSlabOne-Regular.ttf");
}

@font-face {
    font-family: "NimbusSanL";
    font-weight: 400;
    src: url("./../../../assets/fonts/NimbusSanL/NimbusSanL-Reg.otf");
}

@font-face {
    font-family: "NimbusSanL";
    font-weight: 600;
    src: url("./../../../assets/fonts/NimbusSanL/NimbusSanL-Bold.otf");
}

@font-face {
    font-family: "RobotoCondensed";
    font-weight: 700;
    src: url("./../../../assets/fonts/RobotoCondensed-Bold.ttf");
}

@font-face {
    font-family: "SegoeUI";
    font-weight: 400;
    src: url("./../../../assets/fonts/SegoeUI/SegoeUI-Regular.ttf");
}

@font-face {
    font-family: "SegoeUI";
    font-weight: 700;
    src: url("./../../../assets/fonts/SegoeUI/SegoeUI-Bold.ttf");
}

@font-face {
    font-family: "Poppins";
    font-weight: 400;
    src: url("./../../../assets/fonts/Poppins-Regular.ttf");
}
