@layer base {
    :root {
        /* Palette Colors */
        /* Primary  */
        --color-primary-default: #184e77;
        --color-primary-focus: #1e6091;
        --color-primary-content: #5eb7d2;
        /* secondary  */
        --color-secondary-default: #168aad;
        --color-secondary-focus: #34a0a4;
        --color-secondary-content: #5eb7d2;
        /* accent */
        --color-accent-default: #168aad;
        --color-accent-focus: #34a0a4;
        --color-accent-content: #5eb7d2;
        /* neutrals (fonts) */
        --color-neutral-default: #edede9;
        --color-neutral-focus: #d6ccc2;
        --color-neutral-content: #f8f7ff;

        /* Feedback Colors */
        /* colors */
        --color-info-content: #1d70c7;
        --color-success-content: #22c55e;
        --color-warning-content: #f3b51e;
        --color-error-content: #dc2626;
        /* opacity colors 50% */
        --color-info: #d7f1fd;
        --color-success: #edfbd8;
        --color-warning: #fef7d1;
        --color-error: #fce8db;
        /* Bases */
        --color-base-100: #efefef;
        --color-base-200: #192e4f;
        --color-base-300: #e0c87b;
        --color-base-content: #ebdaae;
    }
}
