


@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html:root,
[data-theme] {
	background-color: #efefef;
}


@layer base {
	:root {
		/* Primary  */
		--color-primary-default: rgb(6, 2, 2);
		--color-primary-focus: #3c4d82;
		--color-primary-content: #e0e4ef;
	}
}

.pedro {
	background: teal;
}

